<html>
<head>
	<title>Jquery couchdb admin</title>
	<link rel="stylesheet" href="/public/css/screen.css" type="text/css" />
	<script type="text/javascript" src="/public/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/director.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/handlebars-v1.3.0.js"></script>
	<script type="text/javascript" src="/public/js/lib/pikaday.js"></script>
	<script type="text/javascript" src="/public/js/lib/pikaday.jquery.js"></script>
	<script type="text/javascript" src="/public/js/lib/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/accounting.min.js"></script>
	<script type="text/javascript" src="/public/js/utils.js"></script>
	<script type="text/javascript" src="/public/js/views/index.js"></script>
	<script type="text/javascript" src="/public/js/views/edit.js"></script>
	<script type="text/javascript" src="/public/js/views/login.js"></script>
	<script type="text/javascript" src="/public/js/provider.js"></script>
	<script type="text/javascript" src="/public/js/app.js"></script>
	<!--<script type="text/javascript" src="/public/js/index.js"></script>-->
</head>
<body>
	<div class="container">
		<div class="row page-layout">
		</div>
	</div>

	<script id="login-template" type="text/x-handlebars-template">
		<div class="col-md-offset-4 col-md-4">
			<h1 class="login-header">Materials Editing</h1>
			<div class="alert alert-danger error-message">Invalid login or password</div>
			<form class="login-form" method="POST">
				<div class="form-group">
					<input type="text" class="form-control" name="login" placeholder="Enter login">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Enter password">
				</div>
				<div class="form-group">
					<button class="btn btn-primary center-block login-form__submit">Login</button>
				</div>
			</form>
		</div>
	</script>

	<script id="indexViewItems-template" type="text/x-handlebars-template">
		{{#each items}}
			<tr>
				{{#with value}}
					<td><p>{{code}}</p></td>
					<td> <button class="btn btn-link link-to" data-href="{{_id}}/edit">{{description}}</button></td>
					<td>{{supplier}}</td>
					<td>{{formatMoney budget}}</td>
					<td>
						{{#each requiredBy}}
							{{day}}.{{{month}}}.{{year}}
						{{/each}}
					</td>
				{{/with}}
			</tr>
		{{/each}}
	</script>

	<script id="indexView-template" type="text/x-handlebars-template">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<button class="navbar-brand btn btn-link" data-href="/">Materials editing</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
							<ul class="nav navbar-nav">
								<li><button type="button" class="btn btn-primary navbar-btn link-to" data-href="/create">Create</button></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><button type="button" class="btn btn-default navbar-btn signout">Sign out</button></li>
							</ul>
						</div>
					</div>
				</nav>
		<!--<div class="navbar">-->
			<!--<div class="container-fluid">-->
				<!--<div class="navbar-header">-->
					<!--<button type="button" class="navbar-toggle" data-toggle="collapse">-->
						<!--<span class="sr-only">Toggle navigation</span>-->
						<!--<span class="icon-bar"></span>-->
						<!--<span class="icon-bar"></span>-->
						<!--<span class="icon-bar"></span>-->
					<!--</button>-->
				<!--</div>-->
				<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">-->
					<!--<button class="btn btn-primary link-to" data-href="create">Create</button>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<div class="filters-l">
			<div class="row">
				<form class="filter form-inline" rmle="search">
					<div class="col-md-6">
						<div class="input-group">
							<div class="input-group-btn field-selector">
								<button type="button" class="btn btn-default dropdown-toggle search-by" data-toggle="dropdown" value="byCode">
									<span class="text">By code</span>&nbsp;<span class="caret"></span>
								</button>
								<ul class="dropdown-menu search-by-alternatives">
									<li><a href="javascript:void(0)" data-value="byCode">By code</a></li>
									<li><a href="javascript:void(0)" data-value="bySupplier">By supplier</a></li>
								</ul>
							</div>
							<input type="text" class="form-control search" placeholder="Search...">
						</div>
					</div>
					<!--<div class="col-md-2 col-md-offset-4">-->
						<!--<div class="filter__deleted">-->
							<!--<button class="btn btn-link link-to" data-href="deleted">Deleted materials</button>-->
						<!--</div>-->
					<!--</div>-->
				</form>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Code</th>
					<th>Description</th>
					<th>Supplier</th>
					<th>Budget</th>
					<th>Require by</th>
			</thead>
			<tbody class="items-l">
			</tbody>
		</table>
		<div class="pagination-l"></div>
	</script>

	<script id="pagination-template" type="text/x-handlebars-template">
		{{# if hasPages}}
			<ul class="pager">
				<li>
					{{# if hasPrevious}}
						<a href="javascript:void(0)" class="pager__prev">Previous</a></li>
					{{else}}
						<li><span>Previous</span></li>
					{{/if}}
				<li>
					{{# if hasNext}}
						<a href="javascript:void(0)" class="pager__next">Next</a></li>
					{{else}}
						<li><span>Next</span></li>
					{{/if}}
				</li>
			</ul>
		{{/if}}
	</script>

	<script id="commentsList-template" type="text/x-handlebars-template">
		{{#each items}}
			<div class="row comment-wrap">
				<div class="col-md-9">
					<div class="comment">
						<div class="comment__author">{{userid}}</div>
						<i class="comment__date">{{date}}</i>
						<p class="comment__text">{{comment}}</p>
					</div>
				</div>
				<div class="col-md-2 comment__delete-control">
					<button class="btn btn-danger comment__delete" data-index="{{@index}}">Delete</button>
				</div>
			</div>
		{{else}}
			<p>There is no comments yet</p>
		{{/each}}
	</script>

	<script id="transactionsList-template" type="text/x-handlebars-template">
		{{#each items}}
			<p>{{id}}</p>
			<p>{{type}}</p>
			<p>{{date}}</p>
		{{else}}
			<p>There is no transactions yet</p>
		{{/each}}
	</script>

	<script id="loiList-template" type="text/x-handlebars-template">
		{{#each items}}
			<p>
				<i>{{ref}}</i>
				<span>{{date}}</span>
			</p>
		{{else}}
			<p>There is no letters yet</p>
		{{/each}}
	</script>

	<script id="editView-template" type="text/x-handlebars-template">
		<div class="col-md-10 col-md-offset-1">
			{{#if model._id}}
				<h2>Edit material</h2>
				<div class="alert alert-dismissable result-alert">
					<button type="button" class="close alert__close">&times;</button>
					<span class="alert__text">Material was saved successfully</span>
				</div>
			{{else}}
				<h2>Create material</h2>
				<div class="alert alert-success alert-dismissable result-alert">
					<button type="button" class="close alert__close">&times;</button>
					Material was created successfully
				</div>
			{{/if}}
			<form class="material-edit-form" method="POST">
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label for="code" class="control-label">Code</label>
							<input type="text" class="form-control" name="code" placeholder="Type code" value="{{model.code}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="description" class="control-label">Description</label>
							<input type="text" class="form-control" name="description" placeholder="Type description" value="{{model.description}}">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="shortDescription" class="control-label">Short description</label>
							<input type="text" class="form-control" name="shortDescription" placeholder="Type short description" value="{{model.shortDescription}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="supplier" class="control-label">Supplier</label>
							<input type="text" class="form-control" name="supplier" placeholder="Type supplier" value="{{model.supplier}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="department" class="control-label">Department</label>
							<select class="form-control" name="department">
								{{#each departments}}
									{{#if selected}}
										<option value="{{name}}" selected>{{name}}</option>
									{{else}}
										<option value="{{name}}">{{name}}</option>
									{{/if}}
								{{/each}}
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="class" class="control-label">Class</label>
							<select class="form-control" name="class">
								<option value="equipment" selected>equipment</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="budget" class="control-label">Budget</label>
							<input type="text" class="form-control" name="budget" placeholder="Type budget" value="{{formatMoney model.budget}}">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<label>Long lead:&nbsp;</label>
						<div class="radio-inline">
							<label>
								<input type="radio" name="longLead" value="true" {{#if model.longLead}}checked="checked"{{/if}}>
								True
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="longLead" value="false" {{#unless model.longLead}}checked="checked"{{/unless}}>
								False
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="requiredByFrom" class="control-label">Required by from</label>
							<input type="text" class="form-control" name="requiredByFrom" placeholder="Select from date" value="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="requiredByTo" class="control-label">Required by to</label>
							<input type="text" class="form-control" name="requiredByTo" placeholder="Select to date" value="">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="eta" class="control-label">Estimated time of arrival</label>
							<input type="text" class="form-control" name="eta" placeholder="Select estimated time of arrival" value="">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h4>Internal approvals</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="mm1Approval" class="control-label">mm1 approve</label>
									<input type="text" class="form-control" name="mm1Approval" placeholder="Select approve date" value="">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="mm2Approval" class="control-label">mm2 approve</label>
									<input type="text" class="form-control" name="mm2Approval" placeholder="Select approve date" value="">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="pdApproval" class="control-label">pd approve</label>
									<input type="text" class="form-control" name="pdApproval" placeholder="Select approve date" value="">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="bodApproval" class="control-label">Board of directors approve</label>
									<input type="text" class="form-control" name="bodApproval" placeholder="Select approve date" value="">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row hide-list-control">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h4>
									<span>Letters of intent <span class="badge">{{model.loi.length}}</span></span>
									<button class="btn btn-link hide-list-control__toggle" data-state="hidden">show</button>
								</h4>
							</div>
						</div>
						<div class="row hide-list-control__items">
							<div class="col-md-12">
									<div class="loi-l">
									</div>
									<div class="hide-list-control__items__add">
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" class="form-control" name="loiRef" placeholder="Type letter reference" value="{{model.loi.ref}}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<input type="text" class="form-control" name="loiDate" placeholder="Select income date" value="">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<button class="btn btn-primary loi-add">Add letter</button>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row hide-list-control">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<h4>
									<span>Comments <span class="badge">{{model.comments.length}}</span></span>
									<button class="btn btn-link hide-list-control__toggle" data-state="hidden">show</button>
								</h4>
							</div>
						</div>
						<div class="row hide-list-control__items">
							<div class="col-md-12">
									<div class="comments-l">
									</div>
									<div class="hide-list-control__items__add">
										<label for="commentText" class="control-label">Enter comment text</label>
										<textarea class="form-control" name="commentText"></textarea>
										<button class="btn btn-primary comment-add">Add comment</button>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row hide-list-control">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3">
								<h4>
								<span>Transactions <span class="badge">{{model.transactions.length}}</span></span>
								<button class="btn btn-link hide-list-control__toggle" data-state="hidden">show</button>
								</h4>
							</div>
						</div>
						<div class="row hide-list-control__items">
							<div class="col-md-9">
									<div class="transactions-l">
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row edit-form__submit">
					<div class="col-md-4">
						<div class="form-group">
							<input type="submit" class="form-control btn btn-primary" name="editFormSubmit" value="Save">
						</div>
					</div>
				</div>

			</form>

			{{#if model._id}}
				<div class="row">
					{{# unless model.deleted}}
						<form class="material-delete-form" method="POST">
							<div class="col-md-4">
								<div class="form-group">
									<input type="submit" class="form-control btn btn-primary btn-danger" name="editFormDelete" value="Delete">
								</div>
							</div>
						</form>
					{{else}}
						<form class="material-restore-form" method="POST">
							<div class="col-md-4">
								<div class="form-group">
									<input type="submit" class="form-control btn btn-primary btn-success" name="editFormRestore" value="Restore">
								</div>
							</div>
						</form>
					{{/unless}}
				</div>
			{{/if}}
		</div>
	</script>
</body>
</html>
