.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.edit-form__submit {
	margin-top: 50px;
}
.comment-add {
	margin-top: 20px;
}
.hide-list-control__items {
	display: none;
}

.comment-wrap {
	margin-bottom: 8px;
}
.comment__header {
	margin-bottom: 5px;
}
.comment__author {
	display: inline-block;
}
.comment__date {
	display: inline-block;
	font-size: 0.8em;
}
.comment__text {
}
.comment__delete-control {
	display: none;
}
.result-alert {
	display: none;
}

.filters-l {
	margin: 40px 0;
}
.filter__deleted {
	text-align: right;
}
.login-form {
	margin-top: 20px;
}
.login-header {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.error-message {
	display: none;
}
